{% extends 'base.html.twig' %}

{% block content %}

    <div class="register_title offset-3"><h1>Register !</h1></div>
    <div class="register_form offset-3">
        {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
            <button class="btn btn-success">Send !</button>
        {{ form_end(registerForm) }}
    </div>


    <div class="already-register offset-3">
        <p>Already Registered ?</p>
        <a href="{{ path('app_login') }}">Login here !</a>
    </div>
{% endblock %}