{% extends 'base.html.twig' %}

{% block content %}

    <h1>My Watch List</h1>

    <div class="row watchlist_content">
        {% for movie in movies %}
            <div><a href="{{ path('movie_detail',{'id' : movie.id})}}"><img src="{{ asset('img/posters/')}}{{ movie.image }}"></a></div>
        {% endfor %}

    </div>

{% endblock %}



