{% extends 'base.html.twig' %}

{% block content %}

    <div class="offset-3">
        <h1 class="watchlist_title">My Watch List</h1>
    </div>
    <div class="row watchlist_content">
        {% for wlItem in wlItems %}
             <div>
                 <a href="{{ path('movie_detail',{'id' : wlItem.movie.id})}}">
                     <img src="{{ asset('img/posters/')}}{{ wlItem.movie.image }}">
                 </a>
             </div>
        {% endfor %}

    </div>

{% endblock %}



