{% extends 'base.html.twig' %}

{% block content %}

   <div class="offset-2 admin_header"><h1>Movie List</h1></div>

    <table>
        <tr class="tr">
            <th>Movie_ID</th>
            <th>Title</th>
            <th>Delete</th>
            <th>Modify</th>
        </tr>

        {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.title }}</td>
                <td><a class="btn btn-danger" href="#">Delete</a></td>
                <td><a class="btn btn-info" href="#">Modify</a></td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}



